@import 'https://fonts.googleapis.com/css?family=Raleway';

div.title h1.header {
  color: white;
  padding-top:15%;
  padding-bottom: 5%;
  font-family: 'Raleway';
  font-weight:bolder;
  font-size: 400%;

  text-align: center;
}
h2{
  color: white;
  font-family: 'Raleway';
}

div.buttons{
  text-align: center;
  padding-bottom: 10%;
}

a.buttons{

  font-family: 'Raleway';
  background-color: rgb(255, 153, 69);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 150%;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

a.buttons:hover{
  background-color: white;
  color:  rgb(255, 153, 69);
}
div.title{
margin: -1px -1px -1px -1px;

    text-align: center;
    position:relative;
}

table{

  background-color: white;

}

th{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: #ffffff;
}

th, td {
  font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}

input{
  font-size: 15px;
}



ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 153, 69);

}

li.navbar  {

    float: right;
}

li.navbar  a {
    font-weight: bold;
    display: block;
    font-family: 'Raleway';
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;

    text-decoration: none;
}

li.navbar  a:hover {
    background-color: white;
    color: rgb(255, 153, 69);
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    color: black;
    direction: ltr;
    margin: 10px; // huh?
    padding: 0;
}


html, body, div, canvas {
    margin: 0px;
    padding: 0px;
}




body{
  background-color: rgb(255, 153, 69);
}
