@import 'https://fonts.googleapis.com/css?family=Raleway|Open+Sans';


/**
LOGIN PANEL
**/
.bottom{
  padding-bottom: 50px;
}
.loginpanel{
  text-align: center;
  background-color: white;
  width: 50%;
  margin: 10% 25%;
  box-shadow: 5px 10px 5px 3px #888888;
}
.txt{
  padding-top: 50px;
  padding-bottom: 50px;
}
#user, #pwd{

  font-family: 'Raleway';
  width:75%;
  border-style: none;
  border-color: white;
  padding: 10px 0px;
  margin: 8px 0;

}
#user,#pwd{
  background-color: rgb(221, 221, 221);
  padding-top: 20px;
  text-align: left;
  padding-left: 5px;
  font-size: 22px;

}
h1.login{
  background-color: rgb(0, 170, 244);
  width:100%;
  padding: 5% 0;
  color:white;
  font-family: 'Raleway';
  font-weight:bolder;
  font-size: 54px;
}
input.login{

  font-family: 'Raleway';
  background-color: rgb(0, 170, 244);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 150%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

input.login:hover{
  background-color:rgb(255, 153, 69);
  color: white;
}


/**
END LOGIN PANEL
**/

/**
MAIN PAGE START
**/
div.title h1.header {
  color: white;
  padding-top:15%;
  padding-bottom: 5%;
  font-family: 'Raleway';
  font-weight:bolder;
  font-size: 400%;

  text-align: center;
}

section#viewID{
  padding-top: 10%;
}
div.title-about, h1.header-about {
  color: white;
  padding-top:3%;
  padding-bottom: 1%;
  font-family: 'Raleway';
  font-weight:bolder;
  font-size: 200%;
  text-align: center;
}
h2{
  color: white;
  font-size: 150%;
  font-family: 'Raleway';
}

div.buttons{
  text-align: center;
  padding-bottom: 10%;

}
th:active{

  background-color:rgb(56, 82, 255);
}
a.buttons{

  font-family: 'Raleway';
  background-color: rgb(255, 153, 69);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 150%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

a.buttons:hover{
  background-color:white;
  color:  rgb(255, 153, 69);
}


div.title{
margin: -1px -1px -1px -1px;

    text-align: center;
    position:relative;
}

table{

  background-color: white;

}

th{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: #ffffff;
}

th, td {
  font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}

input{
  font-size: 15px;
}



ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 153, 69);

}

li.navbar  {

    float: right;
}

li.navbar  a {
    font-weight: bold;
    display: block;
    font-family: 'Raleway';
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;

    text-decoration: none;
}

li.navbar  a:hover {
    background-color: white;
    color: rgb(255, 153, 69);
}

button.del{
  display: none;
}
tr.rows:hover button.del{
  display:inline;

}


.cancelbtn,.signupbtn {
    float: left;
    text-align: center;
    width: 30%;
}

/* Add padding to container elements */
.container {
    padding-left: 33%;
    padding-right:33%;

}
.clearfix{
  margin-left: 33%;
  padding-top: 10%;
  padding-bottom: 10%;
}



/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    padding-bottom: 10%;
}
input.create{
    border-radius: 50px;

    font-family: "Lucida" Grande, sans-serif;
    width: 100%;
    border-style: none;
    border-color: white;
    padding: 20px 20px;
    margin: 8px 0;
}
label{
  font-family: 'Raleway';
  color:white;
  font-size: 24px;
}
input.create:focus{
  background-color: rgb(255, 227, 143);
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
  color:white;

}








html, body, div, canvas {
    margin: 0px;
    padding: 0px;
}

/**
MAIN PAGE ENDS
**/
ul.members {
  list-style: none;
  text-align: left;
  margin: 0 40% 0 43%;
  color:white;
  letter-spacing: 2px;
  font-family:'Open Sans', sans-serif;

}
div.logo-buttons {

  padding-top: 2%;
  padding-bottom: 2%;
}

div.about-container{
  text-align: center;
}
a.logo-button{
  padding-left: 5px;
  padding-right:5px;
}

body{
  background-color: rgb(255, 153, 69);

  padding: 0 2%
}
