<body>
  <section id="mainID">
    <div class="title">
      <h1 class="header">
          Welcome {{name}}
      </h1>
    </div>

    <div class="buttons">
      <a class="buttons" href="#viewID" (click)="onClick()">{{show ? "HIDE" : " VIEW"}}</a>
      <a class="buttons" href="#editID" (click)="onClick2()">{{show2 ? "HIDE" : " EDIT"}}</a>
      <a class="buttons" href="#addID" (click)="onClick3()">{{show3 ? "HIDE" : " CREATE"}}</a>
      <router-outlet></router-outlet>
    </div>
  </section>

  <section id="viewID">
    <a name='viewID'></a>
    <table *ngIf="show" align="center" >
      <input (keyup)="findItem(item.value)" name="item" type='text' #item />
      <tr class="column">
        <th>ID <img width=24px; src="../down.png" (click)="sortAsc('id')" /></th>
        <th>name <img width=24px; src="../down.png" (click)="sortAsc('name')" /></th>
        <th>Email </th>
        <th>Phone </th>
        <th>Street <img width=24px; src="../down.png" (click)="sortAsc('street')" /></th>
        <th>City <img width=24px; src="../down.png" (click)="sortAsc('city')" /></th>
        <th>State <img width=24px; src="../down.png" (click)="sortAsc('state')" /></th>
        <th>Country <img width=24px; src="../down.png" (click)="sortAsc('country')" /></th>
      </tr>
      <tr *ngFor="let post of posts">
        <td>{{post.id}}</td>

        <td>{{post.name}}</td>

        <td>{{post.email}}</td>

        <td>{{post.phone}}</td>

        <td>{{post.street}}</td>

        <td>{{post.city}}</td>

        <td>{{post.state}}</td>

        <td>{{post.country}}</td>

      </tr>
    </table>

  </section>


  <section id="editID">
    <a name='editID'></a>
    <table *ngIf="show2" align="center" >
      <tr class="column">
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th >Street</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
      </tr>
      <tr class="rows" *ngFor="let post of posts; let i = index;">
        <td>{{post.id}}</td>
        <td><input placeholder="Name" style="border:none" ize="15" type="text" name="post.name" [(ngModel)]="post.name"/></td>
        <td><input placeholder="Email" style="border:none" size="30" type="text" name="post.email" [(ngModel)]="post.email"/></td>
        <td><input placeholder="phone" style="border:none" size="15" type="text" name="post.phone" [(ngModel)]="post.phone"/></td>
        <td><input placeholder="Street" style="border:none" size="20" type="text" name="post.street" [(ngModel)]="post.street"/></td>
        <td><input placeholder="City" style="border:none" size="15" type="text" name="post.city" [(ngModel)]="post.city"/></td>
        <td><input placeholder="State" style="border:none" size="15" type="text" name="post.state" [(ngModel)]="post.state"/></td>
        <td><input placeholder="Country" style="border:none" size="30" type="text" name="post.country" [(ngModel)]="post.country"/><button type="button" class="del" (click)="delRow(i)">X</button></td>

      </tr>
    </table>
  </section>

  <section id="addID" *ngIf="show3">
    <a name='addID'></a>
    <form >
      <div class="title">
        <h1 class="header">
            Create User
        </h1>
      </div>
      <div class="container" >
        <label><b>Full Name</b></label>
        <input class="create" #name type="text" placeholder="Your Name" name="name" required>
        <label><b>Email</b></label>
        <input class="create" #email type="text" placeholder="Enter Email" name="email" required>
        <label><b>Phone</b></label>
        <input class="create" #phone type="text" placeholder="Enter Phone Number" name="phone" required>
        <label><b>Street</b></label>
        <input class="create" #street type="text" placeholder="Enter Street" name="street" required>
        <label><b>City</b></label>
        <input class="create" #city type="text" placeholder="Enter City" name="city" required>
        <label><b>State</b></label>
        <input class="create" #state type="text" placeholder="Enter State" name="state" required>
        <label><b>Country</b></label>
        <input class="create" #country type="text" placeholder="Enter Country" name="country" required>

        <div class="clearfix">
          <button (click)="addRow(name.value,email.value,phone.value,street.value,city.value, state.value, country.value);" type="submit" class="signupbtn">Sign Up</button>
          <button (click)="onClick3();alertUser()" type="button" class="cancelbtn">Cancel</button>
        </div>
      </div>
    </form>
  </section>


</body>
