<div class="title">
  <h1 class="header">
      ABOUT THIS APP
  </h1>
  <h2>It's about practice</h2>
</div>
<br />


  <div class="about-container">
    <h2>TEAM MEMBER:</h2>
    <ul>
      <li>
        Xu, Jianping
      </li>
      <li>
        Birdsong, Jeremy S
      </li>
      <li>
        Lewis, Kenisha L
      </li>
      <li>
        Micheau, Garrett R
      </li>
      <li>
        Lee, Han S
      </li>
      <li>
        Buras, Dylan M
      </li>
      <li>
        Turner, Alec C
      </li>
      <li>
        Alexander, Johnathan
      </li>
      <li>
        Perot, Jonathan K
      </li>

  </ul>
    <a href="https://github.com/GarrettRM/GitGood"> GitHub </a>
  </div>
