<div class="title-about">
  <h1 class="header-about">
      ABOUT THIS APP
  </h1>
  <h2>It's about practice</h2>
</div>
<br />


  <div class="about-container">
    <h2>TEAM MEMBERS</h2>
    <ul class="members">
      <li>
        Xu, Jianping
      </li>
      <li>
        Birdsong, Jeremy S
      </li>
      <li>
        Lewis, Kenisha L
      </li>
      <li>
        Micheau, Garrett R
      </li>
      <li>
        Lee, Han S
      </li>
      <li>
        Buras, Dylan M
      </li>
      <li>
        Turner, Alec C
      </li>
      <li>
        Alexander, Johnathan
      </li>
      <li>
        Perot, Jonathan K
      </li>
    </ul>
    <div class="logo-buttons">
      <a class="logo-button" href="https://github.com/GarrettRM/GitGood"><img width="70px" src="../github-logo.png"/></a>
      <a class="logo-button" href="https://www.facebook.com/OfficialCSRA/"><img width="70px" src="../facebook-icon.png"/></a>
      <a class="logo-button" href="https://www.linkedin.com/company-beta/10338411/?pathWildcard=10338411/"><img width="70px" src="../linked-logo.png"/></a>
    </div>

  </div>
